.timer-container .timer-header {
  
}
.main-container .timer-container .timer-header {
  width: 100%;
  text-align: center;
}
.main-container .timer-container .timer-value {
  font-size: 3em;
  width:100%;
  text-align: center;
}
